# composer dir and files
vendor
composer.lock
composer.phar

# phpunit files
phpunit.phar
phpunit.xml

# netbeans project files
nbproject

# Mac DS_Store Files
.DS_Store

# phpstorm project files
.idea

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db
