<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
    bootstrap="tests/bootstrap.php" 
    colors="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    stopOnFailure="false"
    verbose="true">
    
    <testsuites>
        <testsuite name="all">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory suffix="Exception.php">src/</directory>
                <directory suffix="Interface.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
    
</phpunit>